body, html {
    height: 100%;
    .parallax {
        background-image: url("/images/background.jpg");
        height: 70%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #carousel {
        width: 80%;
        padding-top: 30px;
        .carousel-inner {
            width: 100%;
            }
            .carousel-control-prev,
            .carousel-control-next {
                filter: invert(1);
                }
            .carousel-item {
                height: 100%;
                width: 100%;    
                img {
                    max-width: 175px;
                    min-width: 175px;
                    margin: auto;
                    height: 400px;
                }
            }
        }
    .favProd {
        max-width: 250px;
        margin: auto;
        a{
            text-decoration: none;
            .h5Titel{
                text-align: center;
                color: rgb(43, 43, 43);
            }
        }
    }
    .titel {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        padding-bottom: 30px;
    }
    
    .hover:hover {
        filter: blur(0.5px);
        transition: transform .2s;
        transform: scale(1.1);
    }
    .historyDiv{
        margin: 30px;
    }
}