
#signup-container {
    //border: 1px solid rgba(46, 41, 41, 1);
    margin-top: 20px;
    margin-bottom: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}