<%- include("header.ejs") %>

<body>
    <form action="/admin" method="post">
        <input type="name" name="adminLogin" id="" placeholder="Admin">
        <input type="password" name="adminPassword" id="" placeholder="Password">
        <button type="submit">Sign in Admin</button>
    </form>
</body>