<div class="footerAdmin">
    <a href="/admin"><button type="submit" class="btn action-button shadow animate yellow">Prodlist</button></a>
    <a href="/admin2"><button type="submit" class="btn action-button shadow animate yellow"> Userlist</button></a>
    <div>
        <a href="/"><button type="submit" class="btn action-button shadow animate grey">Live page</button></a>
    </div>
</div>