<%- include("header.ejs") %>

<div class="container" id="resetform">
    <form action="/resetPassword" method="post">
        <input type="email" name="resetMail" placeholder="E-mail">
        <button type="submit">Skicka nytt lösenord</button>
    </form>
</div>

<%- include("footer.ejs") %>