<%- include("header.ejs") %>

<div class="container">
    <form action="/reset/:token" method="post">
        <input type="hidden" value="<%=user._id%>" name="userId">
        <input type="password" name="password" id="" placeholder="Nytt lösenord">
        <input type="password" id="" placeholder="Repetera lösenord">
        <button type="submit">Spara nytt lösenord</button>
    </form>
</div>

<%- include("footer.ejs") %>